<section class="container">
  <div class="row">
    <div class="col">
      <h1>Calculador Notas DSS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label>Control 1</label>
        <input
          [formControl]="control1"
          type="number"
          class="form-control"
          min="0"
          max="14"
          value="0"
        />
        <div class="form-text">0-14</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Control 2</label>
        <input
          [formControl]="control2"
          type="number"
          class="form-control"
          min="0"
          max="10"
          value="0"
        />
        <div class="form-text">0-10</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Control 3</label>
        <input
          [formControl]="control3"
          type="number"
          class="form-control"
          min="0"
          max="10"
          value="0"
        />
        <div class="form-text">0-10</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 1</label>
        <input
          [formControl]="obligatorio1"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 2</label>
        <input
          [formControl]="obligatorio2"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 3</label>
        <input
          [formControl]="obligatorio3"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 4</label>
        <input
          [formControl]="obligatorio4"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 5</label>
        <input
          [formControl]="obligatorio5"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label>Obligatorio 6</label>
        <input
          [formControl]="obligatorio6"
          type="number"
          class="form-control"
          min="0"
          max="100"
          value="0"
        />
        <div class="form-text">0-100</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary w-100" (click)="calcular()">
        Calcular
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">Resultado Controles: {{ controlResult | number }}/15%</div>
  </div>
  <div class="row">
    <div class="col">
      Resultado Obligatorios: {{ obligatorioResult | number }}/60%
    </div>
  </div>
  <div class="row">
    <div class="col">Resultado Total: {{ notaTotal | number }}/75%</div>
  </div>
  <div class="row">
    <div class="col">
      Tengo que sacar en la prueba final para pasar:
      {{ tengoQueSacar | number }}/25%
    </div>
  </div>
</section>
